<nav class="navbar navbar-dark" id="top-social-bar">
    <div class="d-flex justify-content-start">
        <a href="https://twitter.com/youthedsociety"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/youthedsociety/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/youtheducationsociety"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn-donate">Donate</button>
    </div>
</nav>